@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  /* margin: auto; */
  padding: 33px;
  margin-top: 30px;
}

hr {
  border: 1px solid #d1d1d1;
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 300px;
  width: 100%;
  /* height: 94px; */
  background: #562eff;
  padding: 10px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 40.42px;
  height: 51px;
}

.header-logo p {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin-left: 15px;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 36px;
}

.menu-item {
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.menu-item img {
  margin-top: 8px;
}

/* Top Player */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 21px;
  row-gap: 29px;
  margin-bottom: 30px;
}

.top-title {
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
}

.player {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player img {
  width: 56px;
  height: 56px;
}

/* Top Blogs */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
  column-gap: 46px;
}
.blog {
  display: flex;
  align-items: center;
  gap: 16px;
}
.blog-title {
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin: 30px 0;
}
.blog-thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-name {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* Courses styles */
.latest {
  margin-bottom: 26px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 34px;
}

.course {
  padding: 15px;
  /* border: 1px solid; */
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
}

.course-banner img {
  /* width: 224px; */
  /* height: 104px; */
  width: 100%;
}

.course-title {
  font-weight: 500;
  font-size: 20.0336px;
  color: #1e1e1e;
}

.course-author {
  font-weight: 400;
  font-size: 14.6913px;
  color: #ed6b4f;
  margin: 7px 0 19px 0;
}

.course-info {
  display: flex;
  align-items: center;
}

.course-info p {
  margin: 0 25px 0 10px;
}

.course-duration {
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 5px;
  font-weight: 600;
  font-size: 14.6913px;
  color: #ff4a60;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
  opacity: 0.25;
}

/* Responsive styles */

/* Mobile styles  */
@media only screen and (max-width: 576px) {
  .header {
    gap: 0;
    justify-content: space-around;
  }
  .mobile {
    display: none;
  }
  .container {
    width: 90%;
  }
  .players,
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }

  .blog-info {
    text-align: center;
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Ipad or Tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    gap: 187px;
  }
  .container {
    width: 90%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
